<!doctype html>
<html lang="en">
  <head>
    <title>Menu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/fontawesome/fontawesome.min.css" rel="stylesheet">
    <link href="../../static/css/fontawesome/brands.min.css" rel="stylesheet">
    <link href="../../static/css/fontawesome/solid.min.css" rel="stylesheet">
    <link href="../../static/css/sistema/landpage.css" rel="stylesheet">
    <link href="../../static/css/sistema/login.css"
	rel="stylesheet">

  </head>
  <body>
    <p>Menu</p>
    <script src="../../static/js/jquery/jquery.min.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/fontawesome/fontawesome.min.js"></script>
  </body>
</html>