{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
  <link rel="stylesheet" href="{% static 'css/estilo.css'%}"
</head>
<body>
    
    <h3> oi</h3>
    <img src="{% static 'img/passarinho.jpg'%}" width="200" alt="">
</body>
</html>


{% load static %}

<!doctype html>
<html lang="pt-BR">

<head>
    <title>Escolha</title>
    
</head>

<body>
    
    <div class="box-2">
        <div class="btn btn-two">
          <span>HOVER ME</span>
        </div>
      </div>
            &copy; 2021–<script>
                document.write(new Date().getFullYear())
            </script>
            | EasyController - O Seu projetista de controlador | IFSC
            Jaraguá do Sul - Rau <a href="https://www.ifsc.edu.br/campus-jaragua-do-sul-rau" target="_blank">IFSC</a>
        </p>
    </footer>

</body>

</html>